.login {
    background-image: url("./../../assets/main.svg");
    background-size: 1200px;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 400px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100vw;

    @include atMedium {
        background-size: 1800px;
        min-height: 500px;
        position: static;
        transform: none;
    }

    @include atLarge {
        background-size: 1920px;
    }

    @media screen and (min-height: 600px) {
        background-size: 1920px;
    }

    @media screen and (min-height: 1000px) {
        background-size: 178vh;
    }

    @media screen and (min-width: 1600px) {
        background-size: 100vw;
    }

    &__container {
        max-height: 100vh;
        max-width: 100vw;
        overflow: hidden;
    }

    &__content {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-60%);
        width: 100%;

        @include atSmall {
            transform: translateY(-70%);
        }

        h1 {
            color: $white;
            font-family: "Lato", sans-serif;
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 8px;
            text-transform: uppercase;
            width: 100%;

            @include atSmall {
                font-size: 50px;
                letter-spacing: 12px;
            }

            @include atMedium {
                font-size: 66px;
                letter-spacing: 18px;
            }

            @include atLarge {
                font-size: 80px;
                letter-spacing: 25px;
            }
        }

        h2 {
            color: $white;
            display: inline-block;
            font-family: "Lato", sans-serif;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 2px;
            line-height: 140%;
            margin-top: 24px;
            max-width: 88vw;

            @include atSmall {
                font-size: 24px;
                letter-spacing: 2.5px;
                margin-top: 26px;
            }

            @include atMedium {
                font-size: 27px;
                letter-spacing: 3px;
                margin-top: 28px;
            }

            @include atLarge {
                font-size: 30px;
                letter-spacing: 3px;
                margin-top: 22px;
            }
        }

        button {
            background-color: #fff;
            color: #222;
            display: block;
            font-size: 17px;
            letter-spacing: 1px;
            margin: 0 auto;
            margin-top: 28px;
            padding: 10px 30px;

            @include atSmall {

            }

            @include atMedium {
                margin-top: 32px;
            }

            @include atLarge {

            }
        }
    }

    // &__more {
    //     min-height: 100vh;
    // }
}

// .login {
//     & {
//         background-image: url("./../../assets/login--3840x2160.jpg");
//         background-position: center;
//         background-size: cover;
//         min-height: 100vh;
//         min-width: 100vw;
//         text-align: center;
//     }
//
//     &__content {
//         background-color: rgba($white, .78);
//         box-shadow: 0 0 10px 10px rgba($white, .78);
//         padding: .4px 0;
//         position: absolute;
//         top: 32%;
//         width: 100%;
//
//         h1 {
//             color: #222;
//             font-family: "Lato", sans-serif;
//             font-size: 8px;
//             font-weight: 300;
//             letter-spacing: 25px;
//             text-transform: uppercase;
//             user-select: none;
//             width: 100%;
//         }
//
//         h2 {
//             color: #222;
//             font-family: "Lato", sans-serif;
//             font-size: 3px;
//             font-weight: 400;
//             letter-spacing: 10px;
//             margin-top: 4px;
//             text-transform: uppercase;
//             user-select: none;
//             width: 100%;
//         }
//
//         button {
//             background-color: transparent;
//             border: 2px solid #222;
//             border-radius: 3.6px;
//             color: #222;
//             font-family: "Lato", sans-serif;
//             font-size: 2.2px;
//             letter-spacing: 3px;
//             margin-top: 4.6px;
//             padding: 1.6px 9px;
//             user-select: none;
//             text-transform: uppercase;
//             transition: background-color .5s ease, color .5s ease;
//
//             &:hover, &:active, &:focus {
//                 background-color: #222;
//                 color: $white;
//             }
//         }
//     }
// }
