// Colors
$black: #000000;
$white: #ffffff;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Font sizes
$small-font-size: 1.6rem;
$medium-font-size: 2.2rem;
$large-font-size: 4.2rem;

$desktop-breakpoint: 45rem;
